*,
::before,
::after {
  box-sizing: border-box !important;
  outline: none;
}

body {
  position: relative;
  color: #000000;
  background-color: #ffffff;
  overflow-x: hidden;

  @include screen(x) {
    font: normal 16px/24px Manrope;
  }

  @include screen(sm) {
    font: normal 18px/28px Manrope;
  }

  @include screen(l) {
    font: normal 18px/28px Manrope;
  }
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
}

.subtitle {
  @include screen(x) {
    font: 700 28px/32px Manrope;
  }

  @include screen(sm) {
    font: 700 36px/40px Manrope;
  }

  @include screen(l) {
    font: 700 36px/40px Manrope;
  }

  br {
    @include screen(l) {
      display: none;
    }
  }

  &--light-blue {
    span {
      color: #00a9e0;
    }
  }

  &--dark-blue {
    span {
      color: #003594;
    }
  }

  &--pink {
    span {
      color: #f8485e;
    }
  }
}

.uk-container {
  @media (min-width: 968px) and (max-width: 1024px) {
    max-width: 998px !important;
  }

  @media (min-width: 1025px) and (max-width: 1279px) {
    max-width: 998px !important;
  }

  @media (min-width: 1280px) {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
}