<footer class="footer">
	<div class="uk-container"> 
		<div class="footer__container uk-flex uk-flex-column-reverse@s uk-flex-between uk-flex-middle">
			<span>&copy; 2019, ФБУН ЦНИИ Эпидемиологии Роспотребнадзора</span>
			<ul class="footer__socials uk-flex">
				<li>
					<a href="#">
						<img src="img/pic/logo/facebook-logo.png" alt="">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/pic/logo/vk-logo.png" alt="">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/pic/logo/ok-logo.png" alt="">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/pic/logo/instagram-logo.png" alt="">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/pic/logo/youtube-logo.png" alt="">
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer>

<div id="modal-center" class="uk-flex-top" uk-modal>
	<div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

		<button class="uk-modal-close-default" type="button" uk-close></button>

		<p class="test__text-promo">Вам отправлен промокод</p>

	</div>
</div>

<script src="js/scripts.min.js"></script>