.conditions {
	padding: 10px 0 85px;
	font: normal 16px/24px Manrope;

	ol {
		margin-left: 15px; 
		list-style-type: decimal;
	}

	span {
		display: inline-block;
		font-weight: 700;
	}

	a {
		color: #000000;
	}
}