.conditions {
	font: normal 16px/24px Manrope;

	@include screen(xl) {
		padding: 10px 0 40px;
	}

	@include screen(l) {
		padding: 10px 0 85px;
	}

	ol {
		margin-left: 15px;
		list-style-type: decimal;
	}

	span {
		display: inline-block;
		font-weight: 700;
	}

	a {
		color: #000000;
	}
}