.myths {
	@include screen(xl) {
		padding: 60px 0;
	}

	@include screen(l) {
		padding: 85px 0 90px;
	}

	.subtitle {
		@include screen(xl) {
			margin-bottom: 35px;
		}

		@include screen(l) {
			margin-bottom: 55px;
		}
	}

	&__container {
		position: relative;
		overflow: hidden;

		.btn {
			position: relative;
			z-index: 5;
			margin: auto;
			padding: 14px 15px 15px;
			max-width: 352px;
			border: 1px solid #00a9e0;
			font: normal 18px/24px Manrope;
			color: #00a9e0;

			&:hover {
				color: #ffffff;
				border-color: transparent;
				background-color: #18bbf0;
			}
		}

		.swiper-wrapper {
			@include screen(xl) {
				margin-bottom: 35px;
			}

			@include screen(l) {
				margin-bottom: 45px;
			}
		}
	}

	&__number {
		padding: 10px 20px;
		text-align: center;
		display: block;
		border: 10px solid #578ad6;
		border-radius: 50%;
		font: 700 36px/40px Manrope;
	}

	&__title {
		@include screen(xl) {
			align-self: flex-start;
			font: 500 20px/28px Manrope;
		}

		@include screen(l) {
			padding-right: 50px;
			font: 500 24px/32px Manrope;
		}
	}

	&__text-blue {
		margin-bottom: 10px;
		font: 700 18px/24px Manrope;
		color: #578ad6;
	}

	.subtitle {
		text-align: center;
	}

	img {
		@include screen(xl) {
			max-width: 300px;
		}

		@media (min-width: 968px) and (max-width: 1279px) {
			max-width: 440px;
		}
	}

	.myths-swiper-next {
		display: none;
	}

	.uk-hidden+.myths-swiper-next {
		display: block;
	}


	&__container {
		.swiper-slide {
			&:not(:last-of-type) {
				margin-bottom: 50px;
			}

			@media (min-width: 968px) and (max-width: 1279px) {
				flex-direction: row !important;
			}

			&__container {
				@media (max-width: 967px) {
					width: 100% !important;
				}

				@media (min-width: 968px) and (max-width: 1279px) {
					width: 50%;
				}

				&:first-of-type {
					@media (min-width: 968px) and (max-width: 1279px) {
						padding-right: 50px;
					}
				}
			}
		}
	}

	.swiper-slide-image-desktope {
		@media (min-width: 968px) and (max-width: 1279px) {
			display: block !important;
		}
	}

	.swiper-slide-image-mobile {
		@media (min-width: 968px) {
			display: none !important;
		}
	}

	&__top-text {
		@media (min-width: 968px) {
			flex-direction: row;


			.myths__number {
				margin: 0 !important;
				margin-right: 30px !important;
			}

			.myths__title {
				align-self: center;
			}
		}
	}

}